NODE_PORT="3000"
NODE_ENV="development"

# DATA BASE
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=deshidrator-db
MYSQL_USER=myuser
MYSQL_PASSWORD=D3sH1d@T4d0r_2024!XyZ#
DB_HOST=database
DB_PORT=3306
DB_NAME=deshidrator-db
DB_USER=myuser
DB_PASSWORD=D3sH1d@T4d0r_2024!XyZ#